html, body {
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  line-height: 1.6;
}

h1 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
}

h1, h2, h3 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
}

nav li {
  list-style-type: none;
}

a:hover {
  background-color: #222;
  text-decoration: underline;
}

nav a {
  color: #8f2440;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  text-decoration: none;
}

figcaption {
  font-family: "PT Serif", serif;
  font-style: italic;
  text-align: center;
}

main::first-line {
  font-weight: bold;
}

img {
  width: 100%;
}

p {
  font-size: .8rem;
  font-weight: normal;
}

.firstlist {
  list-style-type: lower-greek;
}

blockquote > p {
  font-size: 1.125rem;
  font-style: italic;
}

a {
  text-decoration: line-through;
}
